body {
  background: url(../images/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: darkslategray;
}

#title {
  background: #cc5500;
  color: #ffffff;
  padding: 1.3rem .3rem;
  display: inline-block;
  margin: .6rem 0 .6rem .6rem;
  font-weight: bold; font-size: 2em;
}

#instructions {
  background: #ffe4b5;
  color: #008000;
  width: 50%;
  padding: 1rem .5rem 5rem;
  font-weight: bold;
  margin: 0 0 .6rem .6rem;
  line-height: 1.2rem;
}

#random-number {
  background: #0aa10a;
  color: purple;
  padding-bottom: 3.5rem;
  font-size: 2rem;
  margin: 0 .6rem 1rem .6rem;
  width: 15rem;
  float: left;
}

#win-loss {
  background: #05a8a8;
  color: #008000;
  padding: 1rem 1rem 2rem;
  float: left;

}

#losses {
  padding-top: .5rem;
}

#current-score-wording {
  clear: both;
  color: #ffffff;
  background: #029676;
  padding: .2rem 0 .2rem .1rem;
  width: 15rem;
  margin: 0 0 1.2rem .6rem;
}

#current-score {
  background: #029676;
  padding-bottom: 3.5rem;
  font-size: 2rem;
  width: 15rem;
  margin-left: .6rem;
}

#gems {
  clear: both;
  margin-left: .6rem;
}

input {
  outline: none;
}

#ruby-input,
#sapphire-input,
#diamond-input {
  float: left;
  width: 7rem;
  height: 5rem;
  margin: 0 1rem 1rem 0;
}

#emerald-input {
  float: left;
  width: 7rem;
  height: 4.5rem;
  padding-bottom: .5rem;
}

@media (max-width: 550px) {
  #ruby-input,
  #sapphire-input,
  #diamond-input {
    float: left;
    width: 7rem;
    height: 5rem;
    margin: 0 1rem 1rem .7rem;
  }

  #current-score {
    background: #029676;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    width: 94%;
  }
  
  #current-score-wording {
    clear: both;
    color: #ffffff;
    background: #029676;
    width: 83%;
  }

  #random-number {
    background: #0aa10a;
    color: purple;
    padding-bottom: 3.5rem;
    font-size: 2rem;
    margin: 0 .6rem 1rem .6rem;
    width: 94%;
  }

  #instructions {
    background: #ffe4b5;
    color: #008000;
    width: 89%;
    padding: 1rem .5rem 5rem;
    font-weight: bold;
    line-height: 1.2rem;
  }
}